<h2>About World's Greatest Bank</h2>

<div>We are proud to be on *Totally Real Bank Digest's Top 10 banks of @DateTime.Now.Year.ToString()!</div>
<div>We will give you *FREE *MONEY!</div>
<div>*some fees apply, money may not be real money</div>
