@model AccountModel

<div>
    @if (Model != null && Model.Username != null)
    {
        <h2>Welcome back @Model.Name!</h2>
        <div>Click a menu option to get started.</div>
    }
    else
    {
        <h2><b>You are not logged in! Ya gotta log in to bank.</b></h2>
        <div>Click any other menu option to be taken to the login screen.</div>
    }
</div>