<h2>Privacy Policy:</h2>

<div>Congratulations for finding this page. Much like other large tech companies we do not value privacy and will likely sell your data to pay for our office donuts. Thank you.</div>